.mainContainer {
    background-color: rgb(160, 212, 238);;
    display: inline-block;
    width: 95vw;
    border: 5px rgb(190, 149, 218);
    border-radius: 7px;
    margin: 7px;
    padding: 10px;
    font-family: sans-serif;
}

.container {
    width: 60%;
    background-color: rgb(206, 168, 238);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    margin: auto;
}

.time {
    float: right;
}

.score {
    float: left;
}

.highscore {
    color: black;
}
.highscore:hover {
    color: royalblue;
}

body {
    background-color: rgb(216, 204, 227);
    font-family: sans-serif; 
}

main {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#quiz{
    text-align: center;
    justify-content: center;
    padding: 12vh;
    margin-top: 20vh;
}
button {
    border: none;
    background-color: rgb(160, 212, 238);
    color: black;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: sans-serif;
    margin: 15px 15px 15px 15px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: rgb(80, 200, 240);
}
