.mainContainer {
    background-color: rgb(160, 212, 238);;
    display: inline-block;
    width: 95vw;
    border: 5px rgb(190, 149, 218);
    margin: 7px;
    padding: 10px;
    font-family: sans-serif;
}

.container {
    width: 60%;
    background-color: rgb(206, 168, 238);
    margin: auto;
}

.time {
    float: right;
}

.score {
    float: left;
}

.highscore {
    color: black;
}
.highscore:hover {
    color: rgb(112, 27, 209);
}

body {
    background-color: rgb(216, 204, 227);
    font-family: sans-serif; 
}

main {
    justify-content: center;
    align-items: center;
}

#quiz{
    text-align: center;
    justify-content: center;
    padding: 12vh;
    margin-top: 20vh;
}
button {
    background-color: rgb(160, 212, 238);
    color: black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 15px;
}

button:hover {
    background-color: rgb(80, 200, 240);
}
